EMAIL=sumaiya@inkontaktbringer.de
LICENSE_KEY={YOUR_LICENSE_KEY}
WORDPRESS_API_URL=https://wp.xnova-os.info/wp-json
WP_AUTH_MODE=application_password
WP_USERNAME=sumaiya@inkontaktbringer.de
WP_APP_PASSWORD=Pptv aBIG vKxV LsPe JoAV O2F9
WORDPRESS_FORM_SCHEMA_PATH=/fluentform/v1/forms/{formId}/fields
WORDPRESS_FORM_SUBMIT_PATH=/fluentform/v1/forms/{formId}/submit
WORDPRESS_PUBLIC_SITE_URL=https://wp.xnova-os.info
GROUNDHOGG_TAG_IDS=
WEBHOOK_SHARED_SECRET=
WEBHOOK_ALLOWED_SOURCES=
PUBLIC_WEBHOOK_URL=
